
.app-container{
    background-color: var(--dark-theme-color);
    height:100vh;
    width: 100vw;
}

.app-container .twitter-container{
    display: flex;
    align-items: center;
}

.twitter-container .get-started-container{
    color: var(--text-color);
    margin-left: 30px;

}
.twitter-container .get-started-container i{
    font-size: 2.25rem;
    margin-bottom: 80px;
}
.twitter-container .get-started-container h1{
    font-size: 4rem;
    margin-bottom: 45px;
}

.twitter-container .get-started-container .join-twitter-text{
    font-size: 1.9rem;
    margin-bottom: 40px;
}

.twitter-container .get-started-container .register-google-btn,
.twitter-container .get-started-container .register-apple-btn,
.twitter-container .get-started-container .register-user-btn,
.twitter-container .get-started-container .sign-in-btn{
    width: var(--size-300);
    height: var(--size-40);
    background-color:white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 1rem;
    
}
.twitter-container .get-started-container .register-apple-btn{
    font-weight: 600;
}
.twitter-container .get-started-container .register-google-btn img,
.twitter-container .get-started-container .register-apple-btn img{
    max-width: var(--size-20);
    margin-right: 10px;
}

.twitter-container .get-started-container .or-break-container{
    width: var(--size-300);
    position: relative;
    margin-bottom: 10px;
}
.twitter-container .get-started-container .or-break-container p{
    text-align: center;
}

.twitter-container .get-started-container .or-break-container p:after,
.twitter-container .get-started-container .or-break-container p:before{
    content: '';
    width: 135px;
    border: 1px solid var(--text-color);
    position: absolute;
    top: 10px;
}

.twitter-container .get-started-container .or-break-container p:after{
    right: 0;
}

.twitter-container .get-started-container .or-break-container p:before{
    left: 0;
}

.twitter-container .get-started-container .register-user-btn{
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
}

.twitter-container .get-started-container .TOS-text{
    font-size: 0.75rem;
    margin-bottom: 60px;
}
.twitter-container .get-started-container .TOS-text span{
    color: var(--primary-color);
}
.twitter-container .get-started-container .TOS-text span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.twitter-container .get-started-container .have-account-text{
    font-size: 1rem;
    margin-bottom: 10px;
}

.twitter-container .get-started-container .sign-in-btn{
    background-color: black;
    color: var(--primary-color);
    font-weight: 600;
    border: 1px solid var(--primary-color);
}

.app-container footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container .app-footer{
    display: flex;
    color: var(--text-color);
    width: fit-content;
    margin: 0 auto;
    font-size: 0.8rem;
    flex-wrap: wrap;
}
.app-container .app-footer p{
    white-space: nowrap;
    padding: 0 10px;
    margin-top: 10px;
}